<header class="row w-100 mt-5 bg-primary-subtle align-items-center rounded-2 p-3">
  <h1 class="col fw-bold fs-1 text-primary">
    Stepper

    <mat-icon style="font-size: 25px" class="col text-primary ms-3" aria-hidden="false" aria-label="Table icon">
      fast_forward
    </mat-icon>
    <mat-icon style="font-size: 25px" class="col text-primary ms-3" aria-hidden="false" aria-label="Table icon">
      fast_forward
    </mat-icon>
    <mat-icon style="font-size: 25px" class="col text-primary ms-3" aria-hidden="false" aria-label="Table icon">
      fast_forward
    </mat-icon>
  </h1>
</header>
