<section class="vh-100 w-100 d-flex">
  <div class="text-wrapper container w-100 h-100 p-3">
    <h1 class="fw-light fs-1">Here's your dog</h1>

    <textarea
      rows="4"
      cols="1"
      appWhiteSpace
      [(textToParse)]="textAreaVal"
      class="mt-5 p-3"
    ></textarea>


    <h1 class="fw-light fs-1 mt-5">Directives</h1>

    <p class="mt-2">{{ textAreaVal }}</p>

    <app-form></app-form>

    <p appHighlight rgbColor="rgb(255, 1, 1)">Highlight consumer</p>

  </div>

  <div
    class="img-wrapper w-100 vh-100 d-flex justify-content-center align-items-center"
  >
    <img *ngIf="status" [src]="message" alt="dog" />
    <button type="button" class="btn w-25 position-absolute" (click)="getDog()">
      New Dog
    </button>
  </div>
</section>
