@import 'src/variables/scss/global';

.text-wrapper {
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: $secondary-color;
  }

  textarea {
    background-color: $accent-color;
    color: $primary-color;
    resize: none;
    border: 1px solid $secondary-color;
    width: 100%;
  }

  p {
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
  }
}

.img-wrapper {
  display: grid;
  place-items: center;

  img {
    max-width: 500px;
    max-height: 500px;

    min-height: 500px;
    min-width: 500px;

    object-fit: cover;
  }

  button {
    bottom: 10rem;
    border: solid 1px $secondary-color;
    border-radius: 7px;
    background-color: $accent-color;
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
      color: $accent-color;
      border: solid 1px $secondary-color;
    }
  }
}
