@import "../../../../../variables/scss/global";

section {
  min-height: 100dvh;
  width: 100%;
  display: flex;

  .text-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;

    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    textarea {
      background-color: $primary-color;
      margin-top: 10rem;
      color: $accent-color;
      padding: 5px;
      resize: none;
      border: 1px solid $secondary-color;
    }

    p {
      color: $accent-color;
      font-family: "Montserrat", sans-serif;
      margin-top: 5rem;
    }
  }

  .img-wrapper {
    width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;

    img {
      max-width: 500px;
      max-height: 500px;

      min-height: 500px;
      min-width: 500px;

      object-fit: cover;
    }

    button {
      all: unset;
      position: absolute;
      bottom: 10rem;
      padding: 5px 10px;
      border: solid 1px $accent-color;
      border-radius: 7px;
      cursor: pointer;

      transition: all 0.6s;

      &:hover {
        background-color: $secondary-color;
        color: $accent-color;
        border: solid 1px $secondary-color;
      }
    }
  }
}
