<section class="vh-100 w-100 d-flex">
  <div class="text-wrapper container w-100 h-100 p-3">

    <h1 class="fw-light fs-1 mt-5">Directives</h1>

    <h2 class="fw-light fs-3 mt-5">White Space Directive</h2>

    <textarea
      rows="4"
      cols="1"
      appWhiteSpace
      [(textToParse)]="textAreaVal"
      class="mt-5 p-3"
    ></textarea>

    <p class="mt-2">{{ textAreaVal }}</p>

    <h2 class="fw-light fs-3 mt-5">Highlight Directive</h2>

    <p class="fs-5" appHighlight rgbColor="255, 1, 1">Hover</p>

    <h1 class="fw-light fs-1 mt-5">Life Cycle</h1>
    <app-form></app-form>

  </div>

  <div
    class="img-wrapper w-100 vh-100 d-flex justify-content-center align-items-center"
  >
    <img *ngIf="status" [src]="message" alt="dog" />
    <button type="button" class="btn w-25 position-absolute" (click)="getDog()">
      New Dog
    </button>
  </div>
</section>
