<header class="row w-100 mt-5 bg-primary-subtle align-items-center rounded-2 p-3">
  <h1 class="col fw-bold fs-1 text-primary">
    Dialog - Table

    <mat-icon style="font-size: 25px" class="col text-primary ms-3" aria-hidden="false" aria-label="Table icon">
      table_chart
    </mat-icon>
  </h1>
</header>

<section class="row p-2 p-5 border-bottom mt-5">
  <h1 class="col w-50 fs-1">
    Floating Action Button
  </h1>
  <ol class="col w-50">
    <li>
      <mat-form-field appearance="outline">
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>
    </li>
    <li>
      <button mat-flat-button color="primary" [disabled]="title.length <= 0" (click)="openDialog()">New Name
      </button>
    </li>
    <li *ngIf="name">
      You chose: <i>{{name}}</i>
    </li>
  </ol>
</section>

<section class="row p-2 p-5 border-bottom mt-5">
  <h1 class="col w-50 fs-1">
    Table
  </h1>
  <app-table-people></app-table-people>
</section>
