@import 'src/variables/scss/global';

main h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

main a {
  border: solid 1px $secondary-color;
  color: $secondary-color;
  bottom: 20%;
  background-color: $accent-color;

  &:hover {
    color: $accent-color;
    background-color: $primary-color;
  }
}
