@import "../../../../../variables/scss/global";

main {
  display: grid;
  min-height: 100dvh;
  place-items: center;
}

main h1 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

main a {
  all: unset;
  position: absolute;
  bottom: 10rem;
  padding: 5px 10px;
  border: solid 1px $secondary-color;
  border-radius: 7px;
  cursor: pointer;

  transition: all 0.6s;

  &:hover {
    background-color: $secondary-color;
    color: $accent-color;
  }
}
