<main class="container d-flex w-100 vh-100 align-items-center">
  <h1 class="fw-light text-center lh-1">DOG API CONSUMER & ANGULAR MATERIAL SHOWCASE</h1>
  <div class="d-flex w-100 flex-column justify-content-center align-items-center gap-3">
    <a
      class="btn w-75"
      routerLink="/dogs"
    >DOGS & DIRECTIVES</a>
    <a
      class="btn w-75"
      routerLink="/material"
    >Material</a>
    <a
      style="bottom: 10%"
      class="btn w-75"
      routerLink="/validations"
    >Form Validations</a>
  </div>

</main>
