@import 'src/variables/scss/global';

.login-wrapper {
  background-color: $accent-color;
  color: $secondary-color;
  padding: 20px;

  h1 {
    font-family: 'Montserrat', sans-serif;
  }
}

.btn-google {
  bottom: 10%;
  left: 20%;
}
