/* You can add global styles to this file, and also import other style files */

@import './variables/scss/global';

* {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  min-height: 100dvh;
  background-color: $primary-color;
  color: $accent-color;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}
